<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}"/>
        <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    <!--      header et logo GSB frais-->
    <div class="container-fluid" style="padding: 0px">
        <div class="row">
            <div class="well" style="margin: 0px">
                <h1 class="text-center"> <img src="{{ asset('images/logo.jpg') }}"> 
                    Suivi du remboursement des frais</h1>
            </div>
        </div>
    </div> 
    <!--fin header-->
    <div class="container-fluid"> 
    {% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</div>
<footer class="footer" style="border: solid 3px red">
    <div class="container center-block">
        <div class="">
            <img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" />
            <img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="CSS Valide !" />
            Cette page est conforme aux standards du Web
        </div>  
    </div>
</footer>  
<!--fin footer-->
<script>
//          Initalisation de material design pour le front
    $.material.init();
</script> 
</body>
</html>
