{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-md-2">
       {% include '::MenuVisiteur.html.twig' %}
    </div>

    <div class="formatWell well bs-component  col-md-4 col-md-offset-2" style="margin-top: 100px">  
        <div class="form-header form-header-size">
            <div class="alert alert-dismissible alert-info wellheader">
                <h1><strong>Bienvenue sur l'intranet GSB</strong></h1>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <label class="control-label text-center frmtxt ">Compte de {{visiteur.nom}} {{visiteur.prenom}}</label>
            </div> 
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <tr>
                        <td>
                            Nom
                        </td>
                        <td>
                            {{visiteur.nom}}
                        </td>
                    </tr>  
                    <tr>
                        <td>
                            Prénom
                        </td>
                        <td>
                            {{visiteur.prenom}}
                        </td>
                    </tr>
                     <tr>
                        <td>
                           Login
                        </td>
                        <td>
                            {{visiteur.login}}
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            Adresse
                        </td>
                        <td>
                            {{visiteur.adresse}}
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            Code Postale
                        </td>
                        <td>
                            {{visiteur.cp}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ville
                        </td>
                        <td>
                            {{visiteur.ville}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Date d'embauche
                        </td>
                        <td>
                            {{visiteur.date|date("m/d/Y")}}
                        </td>
                    </tr>
                </table> 
            </div>
        </div> 
    </div>
</div>
   {% endblock %}