{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-md-2">
        {% include '::MenuComptable.html.twig' %}

</div>

    <div class="formatWell well bs-component  col-md-4 col-md-offset-2" style="margin-top: 100px">  
        <div class="form-header form-header-size">
            <div class="alert alert-dismissible alert-info wellheader">
                <h1><strong>Bienvenue sur l'intranet GSB</strong></h1>
            </div>
        </div>
 </div>
</div>
{% endblock %}