{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-2">
            {% include '::MenuComptable.html.twig' %}
        </div>

        <div class="formatWell well bs-component  col-md-4 col-md-offset-2" style="margin-top: 100px">  
            <div class="form-header form-header-size">
                <div class="alert alert-dismissible alert-info wellheader">
                    <h1><strong>Bienvenue sur l'intranet GSB</strong></h1>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <label class="control-label text-center frmtxt ">Compte de {{comptable.nom}} {{comptable.prenom}}</label>
                </div> 
                <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <tr>
                            <td>
                                Nom
                            </td>
                            <td>
                                {{comptable.nom}}
                            </td>
                        </tr>  
                        <tr>
                            <td>
                                Prénom
                            </td>
                            <td>
                                {{comptable.prenom}}
                            </td>
                        </tr>   
                        <tr>
                            <td>
                                Login
                            </td>
                            <td>
                                {{comptable.login}}
                            </td>
                        </tr> 
                    </table> 
                </div>
            </div> 
        </div>
    {% endblock %}