{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-2">
            {% include '::MenuComptable.html.twig' %}

        </div>
        <div class="row">
            <div class="formatWell well bs-component  col-md-4 col-md-offset-2" >  
                <div class="form-header form-header-size">
                    <div class="alert alert-dismissible alert-info wellheader">
                        <h1><strong>Bienvenue sur l'intranet GSB</strong></h1>
                    </div>
                </div>
                <form  name="input" action="{{ path('rechercheFiche') }}" method="post" id="visiteurForm">
                    <div class="form-group">
                        <label class="col-md-5 control-label text-center frmtxt ">Choisir le visiteur : </label> 
                        <div class="col-md-5">
                            <select class="form-control" id='visiteur' name='visiteur'>
                                {% for ligne in ligneVisiteur %}
                                    <option value="{{ligne.id}}"  {% if (ligne.id == idVisiteur) %} {{ "selected"}}{% endif %} >{{ ligne.prenom ~ " " ~ ligne.nom}}</option>                
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% if listeMois !=null %}         
                        <div class="form-group">
                            <label class="col-md-5 control-label text-center frmtxt" >Mois à séléctionner :</label>
                            <div class="col-md-5">
                                <select class="form-control" id='mois' name='mois'>
                                    <option>Mois</option>
                                    {% for key,ligne in listeMois %}
                                        <option value="{{key}}" {% if date == key %} {{ "selected" }}{% endif %} >{{ ligne }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}
                    {% if ligneForfait!=null %} 
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <label class="control-label text-center frmtxt ">Fiche de Frais Forfait de {{leVisiteur.nom ~ '  ' ~ leVisiteur.prenom}} du mois de {{dateLettre}}</label>
                            </div>          
                            <div class="panel-body">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        {% for key,value in ligneForfait %}
                                        <th class="text-center">{{key}}</th>
                                        {% endfor %}
                                    </thead>                          
                                    <tbody> 
                                        {% if ligneForfait['ETP'] is defined %}   
                                        <td class="text-center">                                         
                                            <div class="form-group" style="margin: 0px">                          
                                                <input type="text" class="form-control text-center" id="etp" name="etp" value="{{ligneForfait['ETP']}}" >                                                   
                                            </div>                            
                                        </td> 
                                    {% endif %}
                                    {% if ligneForfait['KM'] is defined %}
                                        <td class="text-center">                                         
                                            <div class="form-group" style="margin: 0px">                          
                                                <input type="text" class="form-control text-center" id="km" name="km" value="{{ligneForfait['KM']}}" >                                                  
                                            </div>                            
                                        </td> 
                                    {% endif %}
                                    {% if ligneForfait['NUI'] is defined %}
                                        <td class="text-center">                                         
                                            <div class="form-group" style="margin: 0px">                          
                                                <input type="text" class="form-control text-center" id="nui" name="nui" value="{{ligneForfait['NUI']}}" >                                                
                                            </div>                            
                                        </td>
                                    {% endif %}
                                    {% if ligneForfait['REP'] is defined %}
                                        <td class="text-center">                                         
                                            <div class="form-group" style="margin: 0px">                          
                                                <input type="text" class="form-control text-center" id="rep" name="rep" value="{{ligneForfait['REP']}}" >                                                
                                            </div>                            
                                        </td>
                                    {% endif %}
                                    {% if fiche.idEtat == 'CL' %}
                                        <td class="col-md-5" style="padding: 0px">   
                                            <div class="row">
                                                <div class="container col-md-12">
                                                    <a href="#" class="btn btn-raised btn-purple btn-xs" id="actuForfait"><span class="glyphicon glyphicon-refresh">Actualiser</span></a>                 
                                                    <a href="#" class="btn btn-raised btn-purple btn-xs" id="reinitForfait"><span class="glyphicon glyphicon-repeat">Réinitialiser</span></a>                                    
                                                </div>
                                            </div>
                                        </td> 
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %} 

                    {% if ligneHorsForfait!=null %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <label class="control-label text-center frmtxt">Fiche de Frais Hors Forfait de {{leVisiteur.nom ~ '  ' ~ leVisiteur.prenom}} du mois de {{dateLettre}}</label>
                            </div>
                            <div class="panel-body">  
                                <div>
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <th class="text-center">Libelle</th> 
                                        <th class="text-center">Date</th> 
                                        <th class="text-center">Montant</th> 
                                        </thead>
                                        <tbody>
                                            {% for key, value in ligneHorsForfait %}                                                                                         
                                                <tr>
                                                    <td class="text-center">{{value.libelle}}</td>
                                                    <td class="text-center">{{value.date|date('d/m/y')}}</td>
                                                    <td class="text-center"> 
                                                        <div class="form-group" style="margin: 0px">  
                                                            <input id="{{value.id}}" name="{{value.id}}" type="text" class="form-control text-center" value="{{value.montant}}" >                                                
                                                        </div> </td>
                                                        {% if fiche.idEtat == 'CL' %}
                                                        <td class="col-md-6" style="padding: 0px">   
                                                            <div class="row">
                                                                <div class="container col-md-12">
                                                                    <a onclick="actu('{{path ('actualiserHorsForfait',{ 'id':value.id } )}}')" class="btn btn-raised btn-purple btn-xs"><span class="glyphicon glyphicon-refresh">Actualiser</span></a>                 
                                                                    <a href="#" id="reinitForfait" class="btn btn-raised btn-purple btn-xs"><span class="glyphicon glyphicon-repeat">Réinitialiser</span></a> 
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="container col-md-12">
                                                                    <a onclick="repo('{{path ('reporterHorsForfait',{ 'id':value.id } )}}')" class="btn btn-raised btn-purple btn-xs"><span class="glyphicon glyphicon-upload">Reporter</span></a>                 
                                                                    <a  onclick="supp('{{path ('supprimerHorsForfait',{ 'id':value.id } )}}')" class="btn btn-raised btn-purple btn-xs"><span class="glyphicon glyphicon-remove">Supprimer</span></a> 
                                                                </div>
                                                            </div>
                                                        </td>
                                                    {% endif %}
                                                </tr>                       
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div> 
                            </div> 
                        </div>
                    {% endif %}
                    {% if nbJustificatifs!=null %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <label class="text-center control-label frmtxt">Nombre de justificatifs du mois de {{dateLettre}} de {{leVisiteur.nom ~ '  ' ~ leVisiteur.prenom}}</label>
                            </div>
                            <div class="panel-body">
                                <label class="text-center control-label frmtxt">{{nbJustificatifs}}</label>
                            </div>
                        </div>
                    {% endif %}
                    <!--            on affiche l'état de la fiche en cours-->
                    {% if ligneHorsForfait!=null or ligneForfait!=null %}
                        {% if fiche.idEtat=='CR' %}
                            <div>
                                <p>fiche en cours de saisie</p> 
                            </div>
                        {% elseif fiche.idEtat=='CL' %}
                            <div>
                                <a href="#" id="validerFiche" class="btn btn-raised btn-purple">Valider cette fiche</a> 
                            </div>
                        {% elseif fiche.idEtat=='VA' %}
                            <div>
                                <p>fiche déjà valider</p> 
                            </div>
                        {% elseif fiche.idEtat=='RB' %}
                            <div>
                                <p>fiche rembourser</p> 
                            </div>  
                        {% endif %}
                    {% endif %} 
                </form>
            </div>
        </div>
    </div>
    <script>
        $('#visiteur').change(function () {
            $('#visiteurForm').submit();
        });
        $('#mois').change(function () {
            document.getElementById("visiteurForm").action = '{{ path ('afficheFiche') }}';
            $('#visiteurForm').submit();
        });
        $('#actuForfait').click(function () {
            document.getElementById("visiteurForm").action = '{{ path ('actualiserForfait') }}';
            $('#visiteurForm').submit();
        });
        $('#reinitForfait').click(function () {
            document.getElementById("visiteurForm").action = '{{ path ('reinitialiserForfait') }}';
            $('#visiteurForm').submit();
        });
        $('#validerFiche').click(function () {
            document.getElementById("visiteurForm").action = '{{ path ('ValiderFiche') }}';
            $('#visiteurForm').submit();
        });
        function actu(path) {
            document.getElementById("visiteurForm").action = path;
            $('#visiteurForm').submit();
        }
        function supp(path) {
            document.getElementById("visiteurForm").action = path;
            $('#visiteurForm').submit();
        }
        function repo(path) {
            document.getElementById("visiteurForm").action = path;
            $('#visiteurForm').submit();
        }
    </script>
{% endblock %}